---
import Base from "../layouts/Base.astro";
import Survey from "../components/Survey.astro";
import { adminSurvey } from "../lib/questions";
import { API_URL } from "../lib/env";
---
<Base title="Administrator Survey — HB 6 Impact">
  <div data-api-url={API_URL}>
    <Survey survey={adminSurvey} />
  </div>
  <script define:vars={{ API_URL }}>
    document.documentElement.dataset.apiUrl = API_URL;
  </script>
</Base>
